# Rust
/target/
/examples/../target/
**/*.rs.bk
Cargo.lock

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
**/dist/
*.wasm
*.js.map
app/static/**/*.css

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Debug logs
debug/
*.log

# Trunk artifacts
.trunk/
